.banner-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

/*.banner-wrapper {
    background: rgb(105,186,240);
    background: linear-gradient(0deg, rgba(105,186,240,1) 0%, rgba(105,186,210,0.8) 50%, rgba(105,186,200,1) 100%);
    padding: 50px 0;
}*/

.banner {
    color: #ffffff;
}

.banner h1 {
    text-underline: #0e5b6d;
    color: #3e3e3e;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.banner h3, h4 {
    font-weight: 200;
    letter-spacing: 0.2rem;
    line-height: 3rem;
}

.banner-heading {
    padding: 24px 8px;
}

.banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 8px;
    text-align: center;
}

.banner-image img {
    max-width: 70%;
}

.btn-contact {
    margin-top: 16px;
    padding: 16px 24px;
    border-color: #3e3e3e;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #ffffff;
    border-radius: 0;
}

.social-media-icons {
    margin-top: 80px;
}

.social-media-icons img {
    max-height: 28px;
    margin-right: 36px;
    transition: 0.5s;
}

.social-media-icons img:hover {
    opacity: 0.5;
}

@media (max-width: 575.98px) {
    .banner-heading {
        text-align: center;
        padding: 24px;
    }

    .social-media-icons {
        text-align: center;
    }

    .social-media-icons img {
        padding: 0;
        margin: 0 18px;
    }
}

